# 1. Initialising Sets

## Create an empty set with Python's built-in function
## Iterate over one of the sets and print out the values

In [26]:
empty_set= set() 

set_1 = {1,2,3,4,5,6}

for item in set_1:
    print(item)

1
2
3
4
5
6

## 2. Find the Minimum and Maximum Value in a Set

## Find the maximum value in the following sets: set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} set_str = {'f', 'l', 'k', 'a', 'w'}

In [27]:
set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} 

set_str = {'f', 'l', 'k', 'a', 'w'}


print(max(set_int))
max(set_str)

65

'w'

## Find the minimum value in the following sets: set_int = {4, 12, 10, 9, 4, 13} set_str = {'b', 'z', 't', 'm', 'y', 'c'}

In [28]:
print(min(set_int))
min(set_str)

1

'a'

## 3. Adding Items to a Set

## Given the set prime_numbers = {3, 5, 7, 11, 13}, add:
## A prime number to this set
## A set of prime numbers

In [29]:
prime_numbers = {3, 5, 7, 11, 13}

prime_numbers.add(17)

prime_numbers

{3, 5, 7, 11, 13, 17}

In [30]:
set_of_primes = {23, 29, 31}


prime_numbers.update(set_of_primes)

prime_numbers

{3, 5, 7, 11, 13, 17, 23, 29, 31}

## 4. Mathematical Operations

## Given the following two sets: set1 = {15, 25, 35, 45, 55} set2 = {35, 45, 55, 65, 75}
## Return a set with the common items

In [31]:
set1 = {15, 25, 35, 45, 55} 

set2 = {35, 45, 55, 65, 75}


common_items = set1.intersection(set2)

common_items

{35, 45, 55}

## Return a set with the unique items

In [32]:
unique_items = set1.union(set2)

unique_items

{15, 25, 35, 45, 55, 65, 75}

## Return a set that contains items in set1 or set 2 but not in both

In [33]:
set1_set2_not_both = unique_items.difference(common_items)

set1_set2_not_both

{15, 25, 65, 75}

## 5. Finding Missing & Additional Values in Two Lists

## Given the following two lists: list1 = [1, 2, 3, 4, 5, 6, 7, 8] list2 = [5, 6, 7, 8, 9, 10, 11, 12]

## Print the missing & additional items in list1 with respect to list2

In [34]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8] 

list2 = [5, 6, 7, 8, 9, 10, 11, 12]


set_list1 = set(list1)

set_list2 = set(list2)

solution = (set_list1.union(set_list2).difference(set_list1.intersection(set_list2)))

solution

{1, 2, 3, 4, 9, 10, 11, 12}

## 6. Lists and Sets

## Find the common elements of three lists using sets.

In [35]:
list1 = [1, 5, 10, 20, 40, 80]

list2 = [6, 7, 20, 80, 100]

list3 = [3, 4, 15, 20, 30, 70, 80, 120]

set_list1 = set(list1)
set_list2 = set(list2)
set_list3 = set(list3)

common_elements = (set_list1.intersection(set_list2).intersection(set_list3))
common_elements

{20, 80}